@page "/Sales"
@using AccountingForDentists.Models
@rendermode InteractiveServer
<h1 class="display-6">Sales</h1>
<table class="table">
    <thead>
        <th scope="col">Date</th>
        <th scope="col">Business</th>
        <th scope="col">Description</th>
        <th scope="col">Amount</th>
        <th scope="col">GST</th>
        <th scope="col">Total</th>
        <th scope="col"></th>
    </thead>
    <tbody>
        @foreach (SalesEntity item in SalesEntities)
        {
            <tr>
                <td class="align-content-center">@item.Date.ToString("dd/MM/yyyy")</td>
                <td class="align-content-center">@item.BusinessName</td>
                <td class="align-content-center">@item.Description</td>
                <td class="align-content-center">@item.Amount.ToString("0.00")</td>
                <td class="align-content-center">@item.GST.ToString("0.00")</td>
                <td class="align-content-center">@item.Total.ToString("0.00")</td>
                <td class="align-content-center"><button class="btn" @onclick="() => DeleteSale(item)"><i
                            class="bi bi-x-lg"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>