@using AccountingForDentists.Models
<div class="grow justify-items-center-safe">
    <h1 class="mt-4 mb-2 flex gap-2">
        <a href="@ReturnUri" class="icon-[material-symbols--arrow-left-alt-rounded] self-center"> </a>
        <div>@Title</div>
    </h1>
    <form class="" @formname="@FormName" method="post" action="@ActionUri" enctype="multipart/form-data">
        <AntiforgeryToken />
        <fieldset class="fieldset min-w-sm max-w-lg rounded-box  p-4">
            <datalist id="buyer">
                @foreach (var buyer in BuyerNames ?? Enumerable.Empty<string>())
                {
                    <option value="@buyer"></option>
                }
            </datalist>
            <label class="label">Invoice Date</label>
            <input disabled=@Disabled class="input w-full" type="date" id="date" name="date"
                value="@SalesEntity?.DateReference?.Date.ToString("yyyy-MM-dd")" />
            <label class="label">Buyer</label>
            <input disabled=@Disabled class="input w-full" list="buyer" id="buyer" name="buyer"
                value="@SalesEntity?.BusinessName" />
            <label class="label">Description</label>
            <input disabled=@Disabled class="input w-full" id="description" name="description"
                value="@SalesEntity?.Description" />
            <div class="flex gap-2 mt-2">
                <div class="w-28 grow-2">
                    <label class="label">Amount</label>
                    <input disabled=@Disabled class="input" type="number" step="0.01" id="amount" name="amount"
                        onchange="calculateTotal()" value="@SalesEntity?.Amount.ToString("0.00")" />
                </div>
                <div class="w-24 grow">
                    <label class="label">GST</label>
                    <input disabled=@Disabled class="input" type="number" step="0.01" id="gst" name="gst"
                        onchange="calculateTotal()" value="@SalesEntity?.GST.ToString("0.00")" />
                </div>
            </div>
            <label class="label">Total</label>
            <input disabled=@Disabled class="input w-full" type="number" readonly step="0.01" id="total"
                value="@(((SalesEntity?.Amount + SalesEntity?.GST) ?? 0).ToString("0.00"))" />

            <label class="label mt-2">Add/Replace Attachment</label>
            <input disabled=@Disabled type="file" class="file-input w-full" name="attachment" />
            @if (SalesEntity?.Attachment is null)
            {
                <p class="mt-2">No attachment uploaded.</p>
            }
            else
            {
                <p class="mt-2">Current Attachment: <a class="link" target="_blank"
                        href="/api/attachment/@SalesEntity?.Attachment?.AttachmentId">@SalesEntity?.Attachment?.CustomerFilename</a>
                </p>
                @if (AllowRemoveAttachment)
                {
                    <label class="label peer mt-2">
                        <input type="checkbox" class="toggle peer" name="removeAttachment" value="true" />
                        <div class="peer-checked:text-black  peer-checked:font-bold">Remove attachment</div>
                    </label>
                }
            }

        </fieldset>

        <div class="flex gap-2  justify-center-safe">
            <input type="submit" disabled style="display: none" aria-hidden="true" />
            <button class="btn btn-neutral mt-4" tab type="submit">@ActionText</button>
            @if (!Disabled)
            {
                <button class="btn btn-ghost mt-4" type="reset">Reset</button>
            }
        </div>
    </form>
</div>

<script>
    function calculateTotal() {
        const amount = parseFloat(document.getElementById('amount').value) || 0;
        const gst = parseFloat(document.getElementById('gst').value) || 0;
        const total = amount + gst;
        document.getElementById('total').value = total.toFixed(2);
    }
</script>

@code {
    [Parameter]
    public bool Disabled { get; set; } = false;

    [Parameter]
    public required string Title { get; set; }
    [Parameter]
    public required string FormName { get; set; }

    [Parameter]
    public SalesEntity? SalesEntity { get; set; }

    [Parameter]
    public List<string>? BuyerNames { get; set; }

    [Parameter]
    public required string ActionUri { get; set; }

    [Parameter]
    public required string ReturnUri { get; set; }

    [Parameter]
    public bool AllowRemoveAttachment { get; set; } = true;

    [Parameter]
    public string ActionText { get; set; } = "Save";
}
}